.container {
  max-width: 500px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.heading {
  display: flex;
  align-items: center;
}

.information {
  margin-top: 20px;
}

.border {
  border-bottom: var(--border);
  margin-top: 20px;
}

.backButton {
  transform: rotate(180deg);
  padding: 10px;
  background-color: var(--gray);
  border-radius: 100px;
  margin-right: 20px;
  cursor: pointer;
}

.dangerZone {
  margin-top: 30px;
}

.dangerZone h1 {
  color: var(--danger);
  font-weight: 600;
}

.dangerZone p {
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 10px;
}
