.input {
  width: 288px;
  height: 42px;
  color: inherit;
  font-size: 14px;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 10px;
  text-align: center;
  background-color: transparent;
  border: 0.5px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(40px);
  transition: all 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.input::placeholder {
  font-size: 14px;
  color: rgb(177, 172, 172);
}

.input:focus {
  box-shadow: var(--box-shadow-3);
}
