.input {
  color: inherit;
  font-size: 15px;
  background: #262626;
  border: none;
  border-radius: 10px;
  width: 288px;
  height: 45px;
  padding-left: 15px;
  padding-right: 10px;
  text-align: center;
}

.input::placeholder {
  font-size: 15px;
}

.input:focus {
  outline: 2px solid #0077ff;
}
