.modalMask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(26, 26, 26, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalBody {
  position: relative;
  width: 500px;
  background: var(--bg-dark-2);
  padding: 35px 30px 30px;
  border-radius: 10px;
  box-shadow: var(--box-shadow-2);
  transition: all 0.5s ease-in-out;
}

#closeButton {
  position: absolute;
  cursor: pointer;
  right: 10px;
  top: 10px;
  width: 25px;
  padding: 6px;
  border-radius: 3px;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#closeButton:hover {
  background-color: var(--gray);
}

.modalHeadingText {
  font-weight: 600;
  font-size: 25px;
  margin-bottom: -5px;
}

.disclaimer {
  font-size: 13px;
}

.actions {
  margin-top: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.actions:first-child {
  margin-right: 20px;
}
