.cardWrapper {
  margin-top: 90px;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.buttonWrapper {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.inviteWrapper {
  font-size: 13px;
  font-weight: 500;
  color: #c4c5c5;
  text-align: center;
}

.inviteWrapper a {
  color: #0077ff;
  font-size: 15px;
  font-weight: 600;
  margin-left: 5px;
}

.paragraph {
  max-width: 355px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 14px;
  line-height: 170%;
  color: #c4c5c5;
}
