.cardWrapper {
  margin-top: 65px;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.buttonWrapper {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.paragraph {
  max-width: 355px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 14px;
  line-height: 170%;
  color: var(--text-color-2);
}
