.roomCard {
  display: flex;
  flex-direction: column;
  gap: 25px;
  background: var(--bg-dark-2);
  backdrop-filter: blur(30px);
  border-radius: 8px;
  padding: 13px 15px 8px;
  cursor: pointer;
  transition: all 8s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.roomCard:hover {
  background: var(--bg-dark-1);
}

.roomTopic {
  font-size: 15px;
  hyphens: auto;
  font-weight: 500;
}

.roomSpeakers {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.roomSpeakerAvatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  padding: 5px;
}

.roomSpeakersName {
  font-size: 14px;
}

.subInfo {
  font-size: 10px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.totalPeople {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  gap: 2px;
  margin-right: -5px;
}

.totalPeople img {
  width: 18px;
  margin-bottom: 2px;
}

.multipleSpeakersAvatars {
  position: relative;
}

.multipleSpeakersAvatars img {
  position: absolute;
  background-color: var(--bg-dark-2);
}

.multipleSpeakersAvatars img:first-child {
  top: 5px;
  left: 15px;
}

.multipleSpeakersNames {
  margin-top: 18px;
}
