.cardWrapper {
  composes: cardWrapper from '../../App.module.css';
}

.buttonWrap {
  align-self: flex-end;
  display: flex;
  gap: 8px;
}

.tapButton {
  width: 45px;
  height: 45px;
  background: var(--bg-dark-2);
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
}

.tapButton:focus {
  box-shadow: var(--box-shadow);
}

.tapButton img {
  width: 30px;
  height: 30px;
}

.active {
  background-color: var(--accent-color);
}

.paragraph {
  max-width: 330px;
  margin: 0 auto;
  text-align: center;
  font-size: 12px;
  line-height: 170%;
  color: var(--text-color-2);
  margin-top: -8px;
}
