.paragraph {
  composes: paragraph from '../StepPhoneEmail/StepPhoneEmail.module.css';
}

.cardWrapper {
  composes: cardWrapper from '../../App.module.css';
  margin-top: 100px;
}

.activationWrapper {
  height: 280px;
  color: var(--brand-yellow);
}

.warning {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 20px;
}

.activationHeading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 30px;
  font-weight: 600;
}

.activationHeading img {
  width: 30px;
  height: 30px;
}
