.navbar {
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

.logo span {
  font-weight: 700;
  font-size: 22px;
}

.logoutWrapper {
  align-self: baseline;
  display: flex;
  align-items: center;
  gap: 17px;
  font-weight: 600;
}

.logoutWrapper img {
  width: 15px;
  height: 15px;
}

.logoutWrapper .avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: var(--box-shadow-2);
}

.avatar img {
  width: 85%;
  height: 85%;
  border-radius: 50%;
}
