.createRoomButton {
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  font-weight: 500;
  color: inherit;
  padding: 7px 20px;
}

.createRoomButton:focus,
.createRoomButton:active {
  box-shadow: var(--box-shadow-2);
}

.createRoomButton img {
  width: 20px;
  height: 20px;
}
