.modalMask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(26, 26, 26, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalBody {
  position: relative;
  width: 500px;
  background: var(--bg-dark-2);
  padding: 35px 30px 30px;
  border-radius: 10px;
  box-shadow: var(--box-shadow-1);
  display: flex;
  flex-direction: column;
  gap: 30px;
  transition: all 0.5s ease-in-out;
}

#closeButton {
  position: absolute;
  cursor: pointer;
  right: 10px;
  top: 10px;
  width: 25px;
  padding: 6px;
  border-radius: 3px;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#closeButton:hover {
  background-color: var(--accent-color-2);
}

.modalHeadingText {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 10px;
}

.roomInfo {
  border-bottom: var(--border);
  padding-bottom: 20px;
}

.roomTypes {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
}

.typeBox {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px 30px;
  border-radius: 5px;
  transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.active {
  background-color: #262626;
}

.typeBox:hover {
  background-color: #262626;
}

.typeBox span {
  font-size: 14px;
  font-weight: 500;
}

.typeBox img {
  width: 50px;
  height: 50px;
}

.modalCreateWrapper {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-top: -10px;
}

.modalCreateWrapper h3 {
  font-size: 14px;
}
