.avatarWrapper {
  width: 105px;
  height: 105px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  overflow: hidden;
  box-shadow: var(--box-shadow);
}

.avatarWrapper img {
  width: 90%;
  height: 90%;
  object-fit: cover;
  border-radius: 50%;
}

.chooseAvatar {
  max-width: 180px;
  margin: 0 auto;
  margin-top: -10px;
}

.chooseAvatar input {
  display: none;
}

.chooseAvatar label {
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  margin-top: 13px;
}
