.avatarWrapper {
  width: 105px;
  height: 105px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: 5px solid #0077ff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  overflow: hidden;
}

.avatarWrapper img {
  width: 90%;
  height: 90%;
  object-fit: cover;
  border-radius: 50%;
}

.chooseAvatar {
  max-width: 180px;
  margin: 0 auto;
  margin-top: -6px;
}

.chooseAvatar input {
  display: none;
}

.chooseAvatar label {
  display: inline-block;
  font-size: 13px;
  color: #0077ff;
  cursor: pointer;
}
