*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg-dark-1: #1a1a1a;
  --bg-dark-2: #212121;
  --accent-color-1: rgba(101, 77, 237, 0.9);
  --accent-color-2: rgba(101, 77, 237, 0.7);
  --text-color-1: #fff;
  --text-color-2: #c4c5c5;
  --box-shadow-1: rgb(47 184 255 / 10%) 0px 10px 40px,
    rgb(47 184 255) 0px 0px 0px 1px inset;
  --box-shadow-2: rgb(47 184 255 / 20%) 0px 10px 40px,
    rgb(47 184 255) 0px 0px 0px 2px inset;
  --border: 0.5px solid rgba(255, 255, 255, 0.3);
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: grayscale;
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-color-1);
  background-color: var(--bg-dark-1);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button,
input {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
  background-color: var(--accent-color-1);
  transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}

button:hover {
  background-color: var(--accent-color-2);
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}

.margin_top--big {
  margin-top: 110px;
}
